Package: dingux-2600
Version: 
Description: RetroGame port of Dingux-2600
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://github.com/pingflood/dingux-2600
Depends:
Source: https://github.com/pingflood/dingux-2600
